extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row 
            .col-12 
                +box-head('Phones List')
        .row
            each item in items
                if item.status == 1
                    a(href='/products/' + item._id)
                        .col-4.mb-3
                            .product-item
                                .inner-image
                                    img(src=item.thumbnail alt='Product Image')

                                .inner-content 
                                    h3.inner-title= item.title
                                        .inner-price-new= item.price + "$"
                                        - var oldPrice = item.price / ((100 - item.discountPercentage)/100)
                                        .inner-price-old=  oldPrice.toFixed(0) + "$"
                                        .inner-discount= - + item.discountPercentage + '%'

