.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.products {
    height: 400px;
    width: 520px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.image {
    height: 180px;
    weight: 180px;
}
