extends ../../layouts/default.pug

block main 
    form.d-nones(method='POST' enctype="multipart/form-data" id = "createForm" action=`${prefixAdmin}/products/create`)
        .textForm
            label(for='name') Title
            input.form-control(type='text' name = "title" placeholder='Title...')
        .input-group.textForm
            .input-group-prepend
            label.input-group-text Description
            textarea.form-control(name = "description")
        .textForm
            label(for='price') Price
            input(class="form-control" type="text" placeholder="Price..." name = "price")
        .textForm
            label(for='discount') Discount
            input(class="form-control" type="text" placeholder="Discount..." name = "discount")
        .textForm 
            .custom-file
                input#validatedCustomFile.custom-file-input(type='file' required='' name='img', accept='image/*')
                label.custom-file-label(for='validatedCustomFile') Choose file...
                .invalid-feedback Example invalid custom file feedback

        .textForm
            lable Status
            select.custom-select(name = "status")
                option(selected='') Choose...
                option(value=1) Hoạt Động
                option(value=0) Không Hoạt Động

        button#createButton(type='submit') Create

    script(src="/admin/js/create.js") 
    